<!-- <button (click)="onAddCart()">Add to Cart</button> -->
<!-- <br><br> -->
<!-- <p>message</p> -->
<!-- <p>Product added in cart</p> -->
<!-- <p>{{msg}}</p> -->

<!-- <input type="text" value="myInputText" (click)="onInputClick($event)"> -->

<!-- <button value="Laptop" (click)="onAddCart($event)">Laptop</button>
<button value="TV" (click)="onAddCart($event)">TV</button>
<button value="Washing Machine" (click)="onAddCart($event)">Washing Machine</button>

<p>{{msg}}</p> -->

<input #inputInfo type="text" value="Angular Developer" name="Ghufran">
<button (click)="getInputInfo(inputInfo)">Get Info</button>