<!-- <h1>
  Welcome to {{title}}!
</h1> -->

<!-- <app-myContainer></app-myContainer> -->
<!-- <app-databind></app-databind> -->
<!-- <app-class-style></app-class-style> -->
<!-- <app-eventbind></app-eventbind> -->
<!-- <app-two-way></app-two-way> -->
<!-- <app-ngif></app-ngif> -->
<!-- <app-ng-switch></app-ng-switch> -->
<!-- <app-ng-for></app-ng-for> -->

<header>
  <nav>
    <ul class="nav nav-tabs">
      <li class="nav-item"><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link">Home</a></li>
      <li class="nav-item"><a routerLink="/about" routerLinkActive="active" class="nav-link">About Us</a></li>
      <li class="nav-item"><a routerLink="/products" routerLinkActive="active" class="nav-link">Products</a></li>
      <li class="nav-item"><a routerLink="/contact" routerLinkActive="active" class="nav-link">Contact Us</a></li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
