<div class="page-area">
    <div class="text-center">
        <h2>Products</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus ultricies nibh sit amet rutrum. Ut aliquam, arcu eget elementum dapibus, ex erat mollis ipsum, nec tempor nibh massa at libero. Vestibulum eget leo ut nulla luctus porta. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc ultrices lobortis ligula sed sollicitudin. Fusce congue quis nulla ullamcorper tincidunt. Mauris vestibulum, ligula quis bibendum maximus, mi leo volutpat ante, non viverra turpis mi nec enim. Morbi ut mi sed lacus sagittis pharetra a ut magna. Sed ipsum nunc, venenatis sed lorem id, iaculis placerat enim. </p>
    </div>
    <hr class="mb-3">

    <div class="row">
        <div class="col-md-12">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/png-clipart-gray-acer-laptop-laptop-laptop-notebook-electronics-gadget-thumbnail.png" class="card-img-top" alt="Laptop">
                <div class="card-body">
                  <h5 class="card-title">Laptop</h5>
                  <p class="card-text">Some quick example text to build on the card title.</p>
                  <a routerLink="/laptop" class="btn btn-success">Know More</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/png-clipart-mobile-decoration-cell-phone-frame-mobile-phone-thumbnail.png" class="card-img-top" alt="Mobile">
                <div class="card-body">
                  <h5 class="card-title">Mobile</h5>
                  <p class="card-text">Some quick example text to build on the card title.</p>
                  <a routerLink="/mobile" class="btn btn-success">Know More</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/png-clipart-tablet-tablet-thumbnail.png" class="card-img-top" alt="Tablet">
                <div class="card-body">
                  <h5 class="card-title">Tablet</h5>
                  <p class="card-text">Some quick example text to build on the card title.</p>
                  <a routerLink="/tablet" class="btn btn-success">Know More</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/png-clipart-desktop-computer-computer-graphics-computer-monitor-computer-purple-computer-network-thumbnail.png" class="card-img-top" alt="Computer">
                <div class="card-body">
                  <h5 class="card-title">Computer</h5>
                  <p class="card-text">Some quick example text to build on the card title.</p>
                  <a routerLink="/computer" class="btn btn-success">Know More</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/png-clipart-television-graphy-television-tv-miscellaneous-electronics-thumbnail.png" class="card-img-top" alt="Television">
                <div class="card-body">
                  <h5 class="card-title">Television</h5>
                  <p class="card-text">Some quick example text to build on the card title.</p>
                  <a routerLink="/television" class="btn btn-success">Know More</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/png-clipart-white-front-load-clothes-washer-washing-machine-laundry-home-appliance-washing-machine-electronics-clothes-dryer-thumbnail.png" class="card-img-top" alt="Washing Machine">
                <div class="card-body">
                  <h5 class="card-title">Washing Machine</h5>
                  <p class="card-text">Some quick example text to build on the card title.</p>
                  <a routerLink="/products/washing-machine" class="btn btn-success">Know More</a>
                </div>
            </div>
        </div>
    </div>
</div>