<div class="page-area">
    <h2>Home</h2>
    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus ultricies nibh sit amet rutrum. Ut aliquam, arcu eget elementum dapibus, ex erat mollis ipsum, nec tempor nibh massa at libero. Vestibulum eget leo ut nulla luctus porta. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc ultrices lobortis ligula sed sollicitudin. Fusce congue quis nulla ullamcorper tincidunt. Mauris vestibulum, ligula quis bibendum maximus, mi leo volutpat ante, non viverra turpis mi nec enim. Morbi ut mi sed lacus sagittis pharetra a ut magna. Sed ipsum nunc, venenatis sed lorem id, iaculis placerat enim. </p>
    <p>Etiam dictum sem non eros gravida rhoncus. Sed vitae velit ac sapien tempor sagittis quis ut lorem. Pellentesque sit amet nisi ac mi malesuada vehicula in eget nunc. Quisque sed nisi ipsum. Integer ornare eleifend sodales. Duis efficitur lorem est, sit amet scelerisque neque consequat eget. Aliquam porttitor facilisis erat placerat molestie. Aliquam vitae odio sed est tincidunt iaculis. Sed a dui non est pretium condimentum. Vivamus lacinia aliquet nisi posuere aliquet. Duis eu odio lorem. Aliquam tristique dolor sit amet erat efficitur accumsan. Maecenas interdum consequat feugiat. Quisque molestie arcu at velit convallis vehicula. Nullam vitae semper est. Ut tellus augue, consectetur in ipsum a, euismod fringilla libero. </p>
    <p>Curabitur at mauris quis eros vestibulum consectetur at sed sapien. In commodo tincidunt ligula a dapibus. Suspendisse tortor elit, mattis nec gravida id, vehicula ac purus. Fusce commodo elit a eros tincidunt, a vestibulum purus facilisis. Mauris id finibus felis. Donec eu porttitor felis. Sed ultricies aliquam libero a lacinia. Etiam eget ex non tortor egestas mollis. Proin commodo dolor sagittis diam consectetur auctor. </p>
    <p>Praesent non nunc imperdiet, consequat nulla eu, condimentum est. Nunc finibus facilisis eleifend. Integer interdum dapibus est, vitae lobortis quam porttitor nec. Nunc feugiat ornare sem sit amet dictum. Nulla fermentum volutpat diam, eget luctus neque mollis quis. Nullam at tincidunt justo. Vestibulum euismod nulla nisi, in viverra urna finibus sit amet. Maecenas ullamcorper nunc est, et luctus lectus finibus quis. Mauris dolor eros, varius vel ex vel, dignissim dictum ipsum. </p>
    <p>Cras tortor lectus, finibus quis congue facilisis, tristique eu massa. Morbi ac erat sodales, lobortis nunc id, convallis dolor. Integer dignissim sagittis aliquam. Curabitur laoreet velit vitae eros vulputate, consectetur iaculis odio dictum. Proin fermentum odio id gravida ornare. Donec ac metus turpis. Praesent a accumsan lacus. Suspendisse dapibus venenatis magna ut commodo. Aenean feugiat elit eu hendrerit vulputate. Nulla non quam vitae erat lacinia bibendum. Nulla fermentum, magna eget tempus varius, nibh urna molestie dolor, eu vehicula orci velit rhoncus libero. Duis elementum eros sed lectus rhoncus, ac lobortis purus tincidunt. Nulla enim felis, malesuada nec facilisis eget, aliquet id libero. Sed tempus ante a dui laoreet eleifend. </p>
    <div class="products">
        <ng-container *ngIf="statusOnline">
            <div *ngFor="let proitem of products">
                {{proitem.name}}
            </div>
        </ng-container>
    </div> -->
    <div class="box">
        <h1>Username is <span class="text-success">{{userName}}</span></h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <app-comp1></app-comp1>
        </div>
        <div class="col-md-6">
            <app-comp2></app-comp2>
        </div>
        <div class="col-md-6">
            <app-comp3></app-comp3>
        </div>
        <div class="col-md-6">
            <app-comp4></app-comp4>
        </div>
    </div>
</div>